body{
  // background: red;
  
}
html{
  // font-size: 1000px;
  background: #F0F0F2;
}
*{
  padding: 0;
  margin:0;

}
.mint-tab-container{
  margin-bottom: 1.465884861407249rem;
  margin-top: 0.1rem;
}
.ft-19{
  font-size: 0.5063965884861407rem;
}
.ft-28{
  font-size:0.7462686567164179rem;
}
.ft-13{
  font-size:0.3464818763326226rem;
}
.ft-20{
  font-size:0.5330490405117271rem;
}
.ft-14{
  font-size:0.373134328358209rem;
}
.ft-18{
  font-size: 0.4797441364605544rem;
}
.ft-12{
  font-size:0.3198294243070362rem;
}
.ft-16{
  font-size:0.4264392324093817rem;
}