.component-content{
    padding:0 5%;
}
.component-content .box-title{
  margin:0.2rem 0;
  font-weight:400;
  font-size:0.4264392324093817rem;
}

.submit-btn{
  width: 95%;
  margin: 0 auto;
}
.btn-box,.footer-box{
  text-align:center;
}