.component-content{
    padding:0 5%;
}
.component-content .box-title{
  margin:0.2rem 0;
  font-weight:400;
  font-size:0.4264392324093817rem;
}

.submit-btn{
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.btn-box,.footer-box{
  text-align:center;

}

.wallet_addr .mint-cell-value{
  flex: 13;
 }
 .info-box .mint-cell-value{
  word-break: break-all!important;
  padding: 0.1rem!important;

 }
 .agree-box .mint-cell-wrapper{
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  background: #F0F0F2;
 }
 .qrcode-img{
  // border: 1px solid red;
  img{
    width: 100%;
    // padding:0.3rem;
    height: 100%;
    margin: 0 auto;
  }
}
.info-box{
  // width: 95%;
  margin: 0 auto;
  margin-top: 0.2rem;
  .mint-field-core{
    border-bottom: 1px solid lightgray;
  }
}
// .confirmData{
  .mint-msgbox-message{
    text-align: left;
  }
// }
.mint-msgbox-confirm{
  background: #26a2ff;
  color: white;
}
.status .mint-cell-value{
  flex: 1;
}

.mint-popup{
  width: 100%;
  text-align: center;
 .wallet-select{
 width: 100%;  
}
}
.wallet-select .mint-cell-wrapper{
  .mint-cell-title{
   flex: none;
 }
  .mint-cell-value{
    margin:0 auto;
  }

}
.code-btn {
  background: #ff9800;
  color: white;
}
.wallet-box{
  .mint-cell{
    min-height:1rem;
    
  }
  .mint-cell-title{
    margin-right:0.2rem;
    flex: none;
  }
} 

.mint-popup.widthdorw-wallet-box{
  background: #808080;
}
.widthdorw-wallet-box{
  
  .mint-cell{
    margin: 0.1rem;
  }
  .mint-cell-title{
    margin: 0.2rem;
    display: flex;
  }
  .mint-cell-value{
    word-break: break-all;
 }
 .mint-cell-text{
   line-height: 2;
 }
 .icon-eth-01{
   font-size: 1rem;
   margin-right: 0.1rem;
 }
} 
.qrcode-box {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
    }
    .widthdrow-box{
      .mint-cell-value{
        word-break: break-all;
        
      }
    }